@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Poller One", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("./images_flex/sky.jpg");
  background-attachment: fixed;
  color: #eedb00;
}

header {
  background-color: rgba(60, 69, 67, 0.6);
  border-radius: 15px 15px 0 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  position: fixed;
  top: 5px;
  left: 40px;
}

li {
  margin: 0 10px;
}

h1,
h2 {
  text-align: center;
}

.left {
  float: left;
  width: 25%;
}

.left > img {
  width: 100%;
}

.right {
  float: right;
  width: 50%;
  border: 1px solid #eedb00;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.right > img {
  width: 32%;
}

.right > h2 {
  width: 100%;
}
footer {
  clear: both;
}
span {
  font-size: 2em;
  text-transform: ;
}
